@page "/customers"
@using PmSystem.FrontEnd.Data
@using PmSystem.FrontEnd.Pages.Components.Shared

<PageTitle>Customers</PageTitle>

<h1>Customers List</h1>

<TableComponent ListEndpoint="customers" TItem="Customer" />

@code {
}