@page "/products"
@using PmSystem.FrontEnd.Data
@using PmSystem.FrontEnd.Pages.Components.Shared

<PageTitle>Products</PageTitle>

<h1>Products List</h1>

<TableComponent ListEndpoint="products" TItem="Products" />

@code {
}